html, body, #root {
  height: 100%;   /* ensure root container fills screen */
  margin: 0;
  padding: 0;
}

.main-div {
  height: 100%;   /* now works because #root is full height */
  width: 100%;
}

.btnGroup {
  justify-content: center;
  display: flex;
  border: 0.2px solid;
  padding: 10px;
}

.colorBtn {
  padding: 10px;
  color: green;
  border-radius: 4px;
  margin: 10px;
  background-color: aliceblue;
  cursor: pointer;
}

